In [1]:
import pandas as pd

In [2]:
# csv 파일 불러오기
df = pd.read_csv("서울시 관광특구 주요공원 리스트.csv")

# 용산구 별도 저장
yongsan_df = df[df["gu"] == "용산구"]

# 용산구 외 데이터
other_df = df[df["gu"] != "용산구"]

In [3]:
df.head()

,gu,park_name,navermap_reviews_count,kakaomap_reviews_count,total_reviews
0,중구,서울로 7017,3282,192,3474
1,중구,남산공원,1216,124,1340
2,중구,서소문역사공원,396,45,441
3,중구,손기정체육공원,254,24,278
4,중구,훈련원근린공원(훈련원공원),104,10,114

In [4]:
# 구 별로 total_review를 기준으로 정렬
df_sorted = df.sort_values(["gu", "total_reviews"], ascending=[True, False])

In [5]:
df.head()

,gu,park_name,navermap_reviews_count,kakaomap_reviews_count,total_reviews
0,중구,서울로 7017,3282,192,3474
1,중구,남산공원,1216,124,1340
2,중구,서소문역사공원,396,45,441
3,중구,손기정체육공원,254,24,278
4,중구,훈련원근린공원(훈련원공원),104,10,114

In [6]:
# 구별 Q3 이상 공원만 선택할 수 있게 하는 함수
def select_q3(group):
    q3 = group["total_reviews"].quantile(0.75)
    return group[group["total_reviews"] >= q3]

In [7]:
# 전체 기준: 상위 15% 이상인 공원 추출
q85 = df["total_reviews"].quantile(0.85)
highly_reviewed_df = df[df["total_reviews"] >= q85]

In [8]:
highly_reviewed_df

,gu,park_name,navermap_reviews_count,kakaomap_reviews_count,total_reviews
6,용산구,용산가족공원,3745,401,4146
8,종로구,인왕산도시자연공원(인왕산),8249,331,8580
9,종로구,낙산공원,6192,296,6488
20,송파구,올림픽공원,22371,1546,23917
21,송파구,송파나루근린공원(석촌호수),20825,1146,21971
33,마포구,경의선숲길,4935,34,4969

In [9]:
# 구별 Q3 기준 + 전체 상위 15% 병합
q3_selection = other_df.groupby("gu", group_keys=False).apply(select_q3)

# 중복 제거 + 병합
final_df = pd.concat([q3_selection, yongsan_df, highly_reviewed_df], ignore_index=True).drop_duplicates()

/var/folders/2l/hl66_jcn0_9d8l_bdq3bjxwc0000gn/T/ipykernel_30526/2751591826.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  q3_selection = other_df.groupby("gu", group_keys=False).apply(select_q3)

In [10]:
# 저장
final_df.to_csv("selected_parks.csv", index=False)

# 확인
print(f"최종 선택된 공원 수: {len(final_df)}개")
final_df

최종 선택된 공원 수: 13개

,gu,park_name,navermap_reviews_count,kakaomap_reviews_count,total_reviews
0,강남구,도산근린공원,2081,26,2107
1,강남구,율현공원,222,30,252
2,마포구,경의선숲길,4935,34,4969
3,마포구,문화비축기지,2553,196,2749
4,송파구,올림픽공원,22371,1546,23917
5,송파구,송파나루근린공원(석촌호수),20825,1146,21971
6,종로구,인왕산도시자연공원(인왕산),8249,331,8580
7,종로구,낙산공원,6192,296,6488
8,종로구,북한산국립공원(북한산),3993,126,4119
9,중구,서울로 7017,3282,192,3474
10,중구,남산공원,1216,124,1340
11,용산구,용산가족공원,3745,401,4146
12,용산구,효창근린공원(효창공원),1137,63,1200